.featured__subtitle {
    font-size: var(--size-s);
    color: var(--clr-chez);
    text-transform: capitalize;
    font-weight: var(--fw-semi-bold);
}

.featured__title {
    font-size: var(--size-2xl);
    color: var(--clr-text-dk);
    text-transform: uppercase;
}

.featured__link {
    width: var(--size-2xl);
    height: var(--size-2xl);
    color: var(--clr-accent-dk);
}

.featured__wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.featured__description {
    max-width: 60ch;
    color: var(--clr-text-dk);
    font-size: var(--size-s);
    margin: 1rem 0;
}

.featured__info-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.featured__info-container div {
    flex: 1;
    min-width: 250px;
}

.featured__label {
    color: var(--clr-accent-dk);
    font-size: var(--size-base);
    text-transform: capitalize;
    margin-bottom: 0.25rem;
}

.featured__stack {
    padding: 0;
    list-style: none;
}

.featured__info {
    font-size: var(--size-s);
    color: var(--clr-text-dk);
    text-transform: capitalize;
}


@media (min-width: 475px) {
    .featured__subtitle {
        font-size: var(--size-base);
    }

    .featured__title {
        font-size: var(--size-3xl);
    }

    .featured__link {
        width: var(--size-3xl);
        height: var(--size-3xl);
    }

    .featured__description {
        font-size: var(--size-base);
        margin: 1.5rem 0;
    }

    .featured__label {
        font-size: var(--size-lg);
    }
    
    .featured__info {
        font-size: var(--size-base);
    }
}

/* @media (min-width: 640px) {} */

/* @media (min-width: 768px) {} */

/* @media (min-width: 1024px) {} */

@media (min-width: 1280px) {
    .featured__subtitle {
        font-size: var(--size-lg);
    }
    .featured__title {
        font-size: var(--size-4xl);
    }
    .featured__link {
        width: var(--size-4xl);
        height: var(--size-4xl);
    }
    .featured__description {
        font-size: var(--size-lg);
    }
    .featured__label {
        font-size: var(--size-xl);
    }
    
    .featured__info {
        font-size: var(--size-lg);
    }
}

@media (min-width: 1536px) {
    .featured__subtitle {
        font-size: var(--size-xl);
    }
    .featured__title {
        font-size: var(--size-5xl);
    }
    .featured__link {
        width: var(--size-5xl);
        height: var(--size-5xl);
    }
    .featured__description {
        font-size: var(--size-xl);
        margin: 2rem 0;
    }
    .featured__label {
        font-size: var(--size-2xl);
    }
    
    .featured__info {
        font-size: var(--size-xl);
    }
}