.banner-container {
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-base-site);
}

.banner-left {
    width: 38.2%;
    padding: 3rem;
}

.banner-p {
    font-size: var(--fs-500);
    margin-top: 2rem;
    color: hsla(0, 0%, 96%, 0.75);
    min-width: calc(100%-3rem);
}

.chez {
    font-family: var(--ff-header);
    font-weight: 400;
}

.banner-right{
    display: flex;
    justify-content: center;
    width: 61.8%;
}

.logo {
    height: 45%;
    min-width: 300px;
    width: 45%;
    border-radius: 50%;
}

@media screen and (max-width: 500px) {
    .banner-container {
        flex-direction: column-reverse;
        height: fit-content;
    }

    .banner-left {
        width: auto;
    }

}
@media screen and (max-width: 768px) {

}