.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    height: 540px;
}

.banner-left {
    background-image: url(../../assets/Photos-001/DSC05910.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}

