.one {
    background: url('../../assets/Photos-001/DSC05777.jpg');
    background-position: 50% 75%;
}

.two {
    background: url(../../assets/Photos-001/DSC05910.jpg);
    background-position: center;
}

.three {
    background: url(../../assets/Photos-001/DSC05823.jpg);
    background-position: center;
}

.break {
    display: flex;
}

.img1{
    background: url(../../assets/Photos-001/DSC05787.jpg);
    background-position: 50% 75%;
    width: 50%;
}

.img2{
    background: url(../../assets/Photos-001/DSC05788.jpg);
    background-position: 50% 75%;
    width: 50%;
}

.section {
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 100vw; */
    height: 100vh;
}