.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-base-site);
}

.title {
  font-family: var(--ff-header);
  font-size: var(--fs-600);
  color: var(--clr-secondary);
  margin-right: .75rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a,
.dropbtn {
  margin: 8px 0 0 8px;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn,
li a:active,
.dropdown:active .dropbtn {
  background-color: red;
  border-radius: 50%;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:active .dropdown-content, .dropdown:hover .dropdown-content {
  display: block;
}